body {
  background-color: rgba(225, 225, 225, 0.6);
  font-family: "Hahmlet Variable", serif;
}

.white-bg {
  background-color: white;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  max-width: 900px;
  padding-bottom: 7px;
}
