.Results h2 {
  color: #6cb9c1;
  font-family: "Gwendolyn", cursive;
  font-size: 48px;
  font-weight: 600;
  margin-left: 20px;
}
.Results .phonetic {
  font-family: "Hahmlet Variable", serif;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 5px;
}
.Results h3 {
  color: #6cb9c1;
  font-family: "Gwendolyn", cursive;
  font-size: 48px;
  font-weight: 400;
  margin-left: 20px;
}
