.Results h2 {
  color: #6cb9c1;
  font-family: "Gwendolyn", cursive;
  font-size: 48px;
  font-weight: 600;
  margin-left: 20px;
}
.Results h3 {
  color: #6cb9c1;
  font-family: "Gwendolyn", cursive;
  font-size: 48px;
  font-weight: 400;
  margin-left: 20px;
}
